# Local .terraform directory
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# CLI configuration files
.terraformrc
terraform.rc

# Ignore override files as they are used to override resources
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore transient lock info
.terraform.tfstate.lock.info

# Terraform variable files
*.tfvars
!terraform.tfvars

# Ignore plan files
*.plan

# Ignore CLI config
.terraform.d/
